$color-0: #fff;
$color-1: #f8f8f8;
$color-2: #a8a8b3;
$color-3: #ea4335;
$color-4: #737380;
$color-5: #e559f9;
$color-6: #e2e2e2;
$color-7: #29292e;
$color-8: #fefefe;
$color-9: rgba(0, 0, 0, 0.04);
$acent: #29292e;
$color-primary: #835afd;
